{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Гуава</title>
</head>
<body bgcolor=#FF1493 text=#00FF00>
<h1>
<marquee class = "one" behavior ="alternate" direction=right scrollamount=7> &#9992; Наш мир - трехмерное гладкое многообразие&#9992;</marquee>

  <style>
   h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
   }
   p {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
   }
  </style>

    <div style="text-align: center;">
<img src="{% static "images/DOLLAR.jpg" %}" width="500" height="310">

</div>


<body>
<h1>Модель 1</h1>
<h1>Выберите валютную пару</h1>

<form method="post" action="result">
    <select name="pair">
        <option value="EUR-USD">Евро-Доллар (EUR-USD)</option>
        <option value="EUR-RUB">Евро-Рубль (EUR-RUB)</option>
        <option value="USD-RUB">Доллар-Рубль (USD-RUB)</option>
    </select>

    <input type="submit" value="Выполнить">
</form>

</body>
</html>